rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許讀取所有文件
    match /{document=**} {
      allow read: if true;
    }
    
    // 允許完整操作作答紀錄
    match /quizResponses/{quizId}/responses/{responseId} {
      allow read, write, delete: if true;
    }
    
    // 允許完整操作練習紀錄
    match /practiceResponses/{quizId}/responses/{responseId} {
      allow read, write, delete: if true;
    }
    
    // 允許完整操作測驗資料
    match /quizzes/{quizId} {
      allow read, write, delete: if true;
    }
    
    // 允許完整操作題目資料
    match /questions/{questionId} {
      allow read, write, delete: if true;
    }
  }
} 