rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許讀取所有文件
    match /{document=**} {
      allow read: if true;
    }
    
    // 允許寫入作答紀錄
    match /quizResponses/{quizId}/responses/{responseId} {
      allow write: if true;
    }
    
    // 允許寫入練習紀錄
    match /practiceResponses/{quizId}/responses/{responseId} {
      allow write: if true;
    }
    
    // 允許讀寫測驗資料
    match /quizzes/{quizId} {
      allow read, write: if true;
    }
    
    // 允許讀寫題目資料
    match /questions/{questionId} {
      allow read, write: if true;
    }
  }
} 